// Constantes //
$rojo: rgb(218, 2, 2);

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'system-ui';
}

body {
    height: 100vh;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#view {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: all .3s;
}

.navbar, #navbar {
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 20px rgb(221, 221, 221);
    z-index: 1;
    .navbar-brand {
        img {
            width: 80px;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            .nav-link {
                font-weight: 500;
            }
        }
        .dropdown-menu {
            transition: all 1s !important;
            .dropdown-item {
                transition: all .1s;
            }
            .dropdown-item:active {
               background-color: rgb(105, 105, 105);
            }
        }
        form, #buscador {
            z-index: 20;
            .btn {
                white-space: nowrap;
            }
        }
    }
}

.container-cover, #container-cover {
    display: flex;
    flex-flow: row nowrap;
    height: calc(100vh - 60px);
    background-color: whitesmoke;
    padding: 100px;
    transition: all 1s;
    .content-left {
        background-color: transparent;
        width: 50%;
        h1 {
            font-size: 45px;
            span {
                font-size: 150px;
                animation-name: aparecer;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
            
        }
    }
    .content-right {
        height: 100px;
        overflow: hidden;
        width: 100%;
        .imagenes {
            display: inline-flex;
            // -moz-animation: slider 5s infinite linear;
            // -webkit-animation: slider 5s infinite linear;
            // animation: slider 5s infinite linear;
            height: 100%;
            width: auto;
            .imagen {
                background: #CCC;
                border: 1px solid #FFF;
                color: #FFF;
                font-family: Arial;
                font-size: 16px;
                line-height: 100px;
                height: 100%;
                flex: 0 0 auto;
                text-align: center;
                width: 150px;
            }
        }
    }
}

// Keyframes //

@keyframes aparecer {
    from {
        color: whitesmoke;
    }
    to {
        color: $rojo;
    }
}

// @keyframes slider {
//     to {
//         -moz-transform: translateX(-50%);
//         -webkit-transform: translateX(-50%);
//         transform: translateX(-50%);
//     }}